<h1>The Adventure App</h1>
<p><h3>Welcome to the Adventure app</h3></p>
<p>Always say your going to take that holiday or go skydiving but never really get down to planning or simply just forgot?
<br />The Adventure App is designed to help you fulfill your bucket list.</p>
<!-- Add a video here of how the app works -->
<p>Creating an account is free so sign up today</p>
<!-- Sign up button below this line -->
<p><h2>Living Life Adventurously!</h2></p>
